/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deployment.xml
/.idea/webServers.xml
/build
/cmake-build-debug
/main.c
/command
/command(复件)
